{% extends "BDSEvenementBundle::layout.html.twig" %}

{% block title %}
  Suppression - {{ parent() }}
{% endblock %}

{% block bds_evenement_body %}
<h2>Suppression d'un evenement</h2>
<p class="well">l'evenement : {{ evenement.nom }} du {{ evenement.debutEvenement | date ('d/m/Y') }} au {{ evenement.finEvenement | date ('d/m/Y') }} a été supprimé avec succès</p>
 <a class="btn btn-lg btn-default" href="{{ path('bds_evenement_index', {'sport': domaine.nom}) }}">Retour aux Evenements</
{% endblock %}
