{% extends "BDSEvenementBundle::layout.html.twig" %}

{% block title %}
  Evenement - {{ parent() }}
{% endblock %}


{% block bds_evenement_body %}

<div class="panel panel-default">
	<div class="panel-heading">
		<p class="panel-title">Liste des Evenements</p>
	</div>
	<div class="panel-body">
	{% for event in listEvents %}
		<div class="col-lg-4">
			<div class="thumbnail">
				{# je sais pas trop quoi lettre pour l'instant #}
				<img src="{{ asset(domaine.logo.getWebPath) }}">
				<div class="caption">
					<h3><a href="{{ path('bds_evenement_view', {'nom': domaine.nom, 'id': event.id}) }}">{{ event.nom }}</a></h3>
					<p>
						<span class="glyphicon glyphicon-calendar"/> 
						 de {{ event.debutEvenement|date('d/m/Y H:i') }} à {{ event.finEvenement|date('d/m/Y H:i') }}
					</p>
						<span class="glyphicon glyphicon-map-marker"/>
						 {{ event.lieu.fullAdr }}
					<p>
					<p>
						<a class="btn btn-primary btn-block" href="{{ path('bds_evenement_feuille', {'nom': domaine.nom, 'id':event.id}) }}">
							Composition
						</a>
					</p>
				</div>
			</div>
		</div>
	{% else %}
		<p>Pas encore d'évènement !</p>
	{% endfor %}
	</div>
</div>


{% endblock %}
