{% extends "BDSEvenementBundle::layout.html.twig" %}

{% block title %}
  Evenement - {{ parent() }}
{% endblock %}


{% block bds_evenement_body %}

 <a class="btn btn-lg btn-success" href="{{ path('bds_evenement_add', {'nom': domaine.nom}) }}">ajouter un evenement</a>
  <h2>Liste des evenements</h2>
  <ul>
    {% for evenement in listEvents %}
      <li>
        <a href="{{ path('bds_evenement_view', {'id': evenement.id, 'nom': domaine.nom}) }}">{{ evenement.nom }}</a>
        du {{ evenement.debutEvenement | date('d/m/Y H:i:s') }},
        au {{ evenement.finEvenement |date('d/m/Y H:i:s') }}
        <p>
        	<a class="btn btn-md btn-warning" href="{{ path('bds_evenement_edit', {'nom':domaine.nom, 'id':evenement.id}) }}">éditer l'evenement</a>
   			<a class="btn btn-md btn-danger" href="{{ path('bds_evenement_delete', {'nom':domaine.nom, 'id':evenement.id}) }}">supprimer l'evenement</a>
   			<a class="btn btn-md btn-primary" href="{{ path('bds_evenement_feuille', {'nom':domaine.nom, 'id':evenement.id}) }}">feuille de match</a>
   		</p>
      </li>
    {% else %}
      <li>Pas (encore !) d'evenement</li>
    {% endfor %}
  </ul>

{% endblock %}
