{% extends "BDSCoreBundle:Sport:layout.html.twig" %}

{% block title %}
  Voir - {{ parent() }}
{% endblock %}

{% block bds_sport_body %}
<h2>Voir un sport</h2>
<div class="well">
	<p>nom : <a href="{{path('bds_news_home', {'sport':sport.nom}) }}" >{{ sport.nom }}</a></p>
	<h3>Rôles</h3>
	<ul>
	 {% for role in sport.roles %}
	 	<li>{{ role.nom}}</li>
	 {% endfor %}
	</ul>
	<p>logo :
	{% if sport.logo %}
	<img src="{{ asset(sport.logo.getWebPath()) }}" width="300" />
	{% else %}
	pas encore de logo !
	{% endif %}
	</p>
	<p>image de fond :
	{% if sport.fond %}
	<img src="{{ asset(sport.fond.getWebPath()) }}" width="300" />
	{%  else %}
	pas encore d'image de fond !
	{% endif %}
	<p>capitaine :
	{% if sport.capitaine %}
	<h3>{{ sport.capitaine.username }}</h3>
	{% else %}
	pas encore de capitaine !?
	{% endif %}
	</p>

	   		<a class="btn btn-lg btn-warning" href="{{ path('bds_sport_edit', {'nom':sport.nom}) }}">éditer le sport</a>
   			<a class="btn btn-lg btn-danger" href="{{ path('bds_sport_delete', {'nom':sport.nom}) }}">supprimer le sport</a>
</div>


{% endblock %}