{% extends "BDSNewsBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}


{% block bdsnews_body %}
<div class="panel panel-default">
	<div class="panel-heading"><h2>Liste des news</h2></div>
  		<div class="panel-body">
  			<div class="row">
	    		{% for news in listNews %}
	    		{% if news.validation == true or app.user == news.auteur or app.user == news.editeur %}
				<div class="col-lg-4">
		      		<div class="thumbnail">
		      			{# à terme j'aimerai que ce soit le logo de la news #}
		      			<img src="{{ asset(domaine.logo.getWebPath) }}">
		      			<div class="caption">
		        			<h3><a href="{{ path('bds_news_view', {'id': news.id, 'nom': domaine.nom}) }}">{{ news.titre }}</a></h3>
		        			<p><strong>par <em>{{ news.auteur.username }}</em>, le {{ news.datePublication|date('d/m/Y') }}</strong></p>
							<p>{{news.contenu|slice(0,150)|raw}}</p>
		   					<p><em>{{ news.commentaires|length }} <span class="glyphicon glyphicon-comment"/></em></p>
		   					{% if news.validation == false %}
		   					<p class="alert alert-warning">La news n'est pas publique</p>
		   					{% endif %}
		      			</div>
		      		</div>
	      		</div>
	      		{% endif %}
	    		{% else %}
	      		<div>Pas (encore !) de news</div>
	    		{% endfor %}
 		 	</div>
 		 </div>
 </div>
{% endblock %}

{% block aside %}
{{ parent() }}
<hr>
 <a class="btn btn-success btn-block" href="{{ path('bds_news_add', {'nom': domaine.nom}) }}">ajouter une news</a>
 <hr>
 {% render(controller('CunningsoftChatBundle:Chat:show', {'channel':'default'})) %}

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script type="text/javascript" src="{{ asset('js/chat.js') }}"></script>

{% endblock %}
