{% extends "BDSNewsBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}


{% block bdsnews_body %}
 <a class="btn btn-lg btn-success" href="{{ path('bds_news_add', {'sport': domaine.nom}) }}">ajouter une news</a>
  <h2>Liste des news</h2>
  <ul>
    {% for news in listNews %}
      <li>
        <a href="{{ path('bds_news_view', {'id': news.id, 'sport': domaine.nom}) }}">{{ news.titre }}</a>
        par {{ news.auteur.username }},
        le {{ news.datePublication|date('d/m/Y') }}
        <div class="block">
          {{news.contenu|slice(0,150)|raw}}
        </div>
        <p>
        {% if is_granted('ROLE_NEWS_EDIT',news) %}
        <a class="btn btn-md btn-warning" href="{{ path('bds_news_edit', {'sport':domaine.nom, 'id':news.id}) }}">éditer la news</a>
   			<a class="btn btn-md btn-danger" href="{{ path('bds_news_delete', {'sport':domaine.nom, 'id':news.id}) }}">supprimer la news</a>
        {% endif%}
   		</p>
   		<p> il y a {{ news.commentaires|length }} commentaires</p>
      </li>
    {% else %}
      <li>Pas (encore !) de news</li>
    {% endfor %}
  </ul>

{% endblock %}