{% extends "BDSCoreBundle::layout.html.twig" %}

{% block title %}
	calendrier {{ domaine.nom }}
{% endblock %}

{% block body %}

<div class="col-lg-2">
	<div class="row">
		<div class=""></div>
	</div>
</div>
<div class="col-lg-10">
	<div id="header_cal">
		{{ render(controller('BDSCalendrierBundle:Calendrier:header')) }}
	</div>
	<div class="col-lg-12" style="overflow-y: scroll; height: 913px; position: relative;">
		<table class="table table-hover">
			<tbody>
				{% for i in 0..48 %}
					{% if i is even %}
						<tr style="height: 30px; border-bottom: 1px #eeeeee dotted;">
							<td style="width: 40px; border-top: none; padding-top: 0px;">
								<small class="text-muted" style="padding-top: 0px;">{{ i/2 }}:00</small>
							</td>
							{% for j in 1..7 %}
							<td class="table-bordered" style="height: 30px; border-bottom: 1px #eeeeee dotted;"></td>
							{% endfor %}
						</tr>
					{% else %}
						<tr style="height: 30px; border-top: 1px #eeeeee dotted";">
							<td style="width: 40px; border-top: none"></td>
							{% for h in 1..7 %}
							<td class="table-bordered" style="height: 30px; border-top: 1px #eeeeee dotted"></td>
							{% endfor %}
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
		<table  style="position: absolute; top 0px; right: 0px; z-index: 2; opacity: 1; height:1440px" class="table table-hover">
			<!-- cette table contiendra les evenements chargés en javascript -->
			<tbody>
				<tr>
					{% for jour in joursSemaine %}
					<td id="jour_1_{{ jour.timestamp }}"></td>
					{% endfor %}
				</tr>
			</tbody>
		</table>
		<div style="z_index: 50;">
			<!-- contiendra la ligne de maintenant (je sais pas encore comment la faire mais j'y travaille -->
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}

{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/bdscalendrier/js/fullCalSport.js') }}"></script>
<script type="text/javascript">
	var pathToNomSemaine = "{{ path("bds_calendrier_jour_semaine") }}";
</script>
{% endblock %}

