{% extends "BDSCoreBundle::layout.html.twig" %}

{% block title %}
	calendrier {{ domaine.nom }}
{% endblock %}

{% block body %}

<div class="col-lg-2">
	<div class="row">
		<div class="">{{ date|strftime('%b') }}</div>
		<div> {{ now|date("%B") }}</div>
	</div>
</div>
<div class="col-lg-10">
	<div class="row">
		<div class="">{{ date|strftime('%B') }} Semaine : {{ date|strftime('%U') }}</div>
		<div class="">
			<div class="btn-group" role="group">
  				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"/></button>
  				<button type="button" class="btn btn-default">Aujourd'hui</button>
  				<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"/></button>
			</div>
		</div>
	</div>
	<div class="">
		<table>
			<tbody>
				<tr>
					<td style="width: 30px;"></td>
					{{ for dateAffichee in datesAffichees }}
					<td>
						{{ dateAffichee|strftime('%b') }}
						<span {{ if dateAffichee|format('d/m/Y') == now|format('d/m/Y') }} class="badge" {{ endif }}>
							{{ dateAffichee|strftime('%e') }}
						</span> 
					</td>
					{{ endfor }}
				</tr>
			</tbody>
		</table>
		<div style="overflow-y: scroll; height: 913px; position: relative;">
			<table>
				{{ for i in 1..24 }}
				<tr style="height: 60px;">
					<td style="width: 30px;">
						{{ if i|length == 1 }}
							0{{ i }}:00
						{{ else }}
							{{ i }}:00
						{{ endif }}
					</td>
					{{ for j in 1..7 }}
					<td>
						<div class="" style="height: 30px"></div>
						<div class="" style="height: 30px"></div>
					</td>
					{{ endfor }}
				</tr>
				{{ endfor }}
			</table>
			<table style="position: absolute; top 0px; right: 0px; z-index: 2;">
				<!-- cette table contiendra les evenements chargés en javascript -->
			</table>
			<div style="z_index: 3;">
				<!-- contiendra la ligne de maintenant (je sais pas encore comment la faire mais j'y travaille -->
			</div>
		</div>
	</div>
</div>

{% endblock %}
