{% trans_default_domain 'FOSUserBundle' %}

<div class="well">
	<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
	   	
	    {# Les erreurs générales du formulaire. #}
	    <div class="alert alert-danger alert-dismissible" role="alert">
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	    {{ form_errors(form) }}
	    </div>
	    
	   	<div class="form-group">
	   	{#génération du label #}
	   	{{ form_label(form.username, "nom d'utilisateur : ", {'label_attr': {'class': 'control-label'}}) }}
	   	{# Génération de l'input #}
	   	{{ form_widget(form.username, {'attr' : {'class': 'form-control'}}) }}
	   	</div>
	   	
	   	<div class="form-group">
	   	{{ form_label(form.email, "email : ", {'label_attr': {'class': 'control-label'}}) }}
	   	{{ form_widget(form.email, {'attr' : {'class': 'form-control'}}) }}
	   	</div>
	   	
	   	<div class="form-group">
	   	{{ form_label(form.current_password, "mot de passe : ", {'label_attr': {'class': 'control-label'}}) }}
	   	{{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
	   	</div>
	   	
	   	{# Génération des champs pas encore écrit #}
	   	{{ form_rest(form) }}
	    
	    <div>
	        <input type="submit" value="enregistrer modification" />
	        <a class="btn btn-default" href="{{ path('fos_user_profile_show')}}">retour</a>
	    </div>
	</form>
</div>
