{% trans_default_domain 'FOSUserBundle' %}

{% extends "BDSCoreBundle::layout.html.twig" %}

{% block body %}
<div class="well well-lg">
	<div>
	<a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary">modifier</a>
	</div>
	
	<div class="media">
		<div class="media-body">
	    	<p><strong>Nom d'utilisateur : </strong> {{ user.username }}</p>
	    	<p><strong>Email : </strong> {{ user.email }}</p>
	    	<p><strong>mot de passe : </strong><a href="{{ path('fos_user_change_password') }}">changer le mot de passe</a>
	    	<p><strong>sports : </strong><a href="{{ path('bds_user_sport_add') }}">ajouter un sport</a>
	    		<ul>
	    			{% for membre in user.membres %}
	    				<li><a href="{{ path('bds_news_home', {'sport': membre.sport.nom}) }}">{{ membre.sport.nom }}</a><a href="{{ path('bds_user_sport_delete', {'id': membre.id}) }}"> (supprimer)</a></li>
	    			{% else %}
	    				<li>pas encore de sport ! il faut en ajouter au moin un !</li>
	    			{% endfor %}
				</ul>
		</div>
		<div class="media-right">
			<a href=#>
			{% if gravatar_exists(user.email) %}
  				<img class="media-object" src="{{ gravatar(user.email) }}" width="150">
			{% else %}	
				<img class="media-object" src={{ asset('images/no_profile_pic') }} width="150">
			{% endif %}
			</a>
		</div>		
	</div>
</div>
{% endblock %}
