{% trans_default_domain 'FOSUserBundle' %}

{% extends "BDSCoreBundle::layout.html.twig" %}

{% block body %}

<div class="col-lg-12">
	<div class="col-lg-3">
	{% block personne %}
		<div class="col-lg-12">
			{{ render(controller('BDSUserBundle:Security:profilePic', {'username':user.username})) }}
		</div>
		<div class="col-lg-12">
			<h3>{{ user.nom }} {{ user.prenom }}</h3> 
			<p class="text-muted">{{ user.username }}</p>
		</div>
		<hr>
		<div class="col-lg-12 text-muted small">derniere connexion le : {{ user.lastLogin|date('d/m/Y') }}</div>
		<hr>
		<div class="col-lg-12">
			<div class="col-lg-3">
				<a><h3>{{ user.membres|length }}</h3></a>
				<p class="text-muted">Sports</p>
			</div>
			{#  <div class="col-lg-3">
				<a><h3>{{ user.membres.participations.participation[true]|length }}</h3></a>
				<p class="text-muted">{{ partcipations }}</p>
			</div> #}
			<div class="col-lg-3">
				<a><h3>{{ user.news|length }}</h3></a>
				<p class="text-muted">news</p>
			</div>
			<div class="col-lg-3">
				<a><h3>{{ user.commentaires|length }}</h3></a>
				<p class="text-muted">commentaires</p>
			</div>
		</div>
		<hr>
	{% endblock %}
	</div>
	<div class="col-lg-9">
	{% block navigation %}
		<ul class="nav nav-tabs">
			<li role="presentation" class="active">Profile</li>
			<li role="presentation"><a href="#">messages</a></li>
			<li role="presentation"><a href="{{ path('fos_user_profile_edit') }}">modifier profile</a></li>
		</ul>
		<div class="panel panel-default">
			<div class="panel-heading">
				<p class="panel-title">{{ user.username }} en bref</p>
			</div>
			<div class="panel-body">
				<p><strong>Son petit nom : </strong>{{ user.nom }}</p>
				<p><strong>Son petit prénom : </strong>{{ user.prenom }}</p>
				<p><strong> contact :</strong></p>
				<p><span class="glyphicon glyphicon-phone-alt"/></p>
				<p><span class="glyphicon glyphicon-envelope"/> {{ user.email }}</p>
			</div>
		</div>
		
		{# panneau des ports pratiqués par l'utilisateur #}
		<div class="panel panel-default">
			<div class="panel-heading">
				<p class="panel-title">Sport Pratiqués par {{ user.username }}</p>
			</div>
			<div class="panel-body">
				<div class="row">
				{% for membre in user.membres %}
				{% if loop.index0 is divisible by (2) %}
				</div>
				<div class="row">
				{%  endif %}
					<div class="col-lg-6" style="height:10em;">
						<a style="text-decoration:none" href="{{ path('bds_news_home', {'sport':membre.sport.nom}) }}">
							{% if membre.sport.fond %}
							<div class="text-center" style="height: 100%; background: transparent url( {{ asset(membre.sport.fond.getWebPath)  }})  no-repeat scroll center center / cover;">
							{% else %}	
							<div class="text-center" style="height:100%; background: transparent url( {{ asset('images/no_fond_pic') }}) no-repeat scroll center center / cover;">
							{% endif %}
								<h2>{{ membre.sport.nom }}</h2>
							</div>
						</a>
					</div>
			{% else %}
					<div>Pas encore de sport ! </div>
			{%  endfor %}
				</div>
			</div>
		{% endblock %}
		</div>
		
		{# panneau des news écrites par l'utilisateur #}
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">News écrites par {{ user.username }}</div>
			</div>
  			<div class="panel-body">
  				<div class="row">
	    		{% for news in user.news %}
	    			{% if loop.index0 is divisible by(3) %}
	    		</div>
				<div class="row">
					{% endif %}
					<div class="col-lg-4">
	      				<div class="thumbnail">
	      					{# à terme j'aimerai que ce soit le logo de la news #}
	      					<img src="{{ asset(news.sports[0].logo.getWebPath) }}">
	      					<div class="caption">
	        					<h3><a href="{{ path('bds_news_view', {'id': news.id, 'sport': news.sports[0].nom}) }}">{{ news.titre }}</a></h3>
								<p>{{news.contenu|slice(0,150)|raw}}</p>
	   							<p><em>{{ news.commentaires|length }} <span class="glyphicon glyphicon-comment"/></em></p>
	      					</div>
	      				</div>
	      			</div>
	    			{% else %}
	      			<div>{{ user.username }} ne s'exprime pas par écrit il clame ses exploits sur le toit de la Mine</div>
	    		{% endfor %}
 		 		</div>
 		 	</div>
 		</div>
 		
 		{# panneau des commentaires de l'utilisateur #}
 		<div class="panel panel-default">
 			<div class="panel-heading">
 				<div class="panel-title"> COmmentaires de {{ user.username }}</div>
 			</div>
 			<div class="panel-body">
 				<table class="table table-striped table-bordered table-hover col-lg-12">
 					<tbody>
 						{% for commentaire in user.commentaires %}
 						<tr>
 							<th>
 								<div class="col-lg-2">
									{{ render(controller('BDSUserBundle:Security:profilePic', {'username':user.username})) }}
								</div>
								<div class="col-lg-10">
									<p><a>{{ commentaire.auteur.username }} </a>{{ commentaire.contenu }}</p>
									<p class="text-muted">
										{{ commentaire.datePublication|date('d/m/Y') }} dans 
										<a href="{{ path('bds_news_view', {'sport':commentaire.news.sports[0].nom, 'id':commentaire.news.id}) }}">
											{{ commentaire.news.titre }}
										</a>
									</p>
								</div>
							</th>
						</tr>
						{% else %}
						<tr>
							{{ user.username }} ne commente rien, il n'a pas d'avis et en plus il est timide.
						</tr>
						{% endfor %}
 					</tbody>
 				</table>
 			</div>
 		</div>
 		
	</div>
</div>

<div class="">
	<div>
	<a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary">modifier</a>
	</div>
	
	<div class="media">
		<div class="media-body">
	    	<p><strong>Nom d'utilisateur : </strong> {{ user.username }}</p>
	    	<p><strong>Email : </strong> {{ user.email }}</p>
	    	<p><strong>mot de passe : </strong><a href="{{ path('fos_user_change_password') }}">changer le mot de passe</a>
	    	<p><strong>sports : </strong><a href="{{ path('bds_user_sport_add') }}">ajouter un sport</a>
	    		<ul>
	    			{% for membre in user.membres %}
	    				<li><a href="{{ path('bds_news_home', {'sport': membre.sport.nom}) }}">{{ membre.sport.nom }}</a><a href="{{ path('bds_user_sport_delete', {'id': membre.id}) }}"> (supprimer)</a></li>
	    			{% else %}
	    				<li>pas encore de sport ! il faut en ajouter au moin un !</li>
	    			{% endfor %}
				</ul>
		</div>
		<div class="media-right">
			<a href=#>
			{% if gravatar_exists(user.email) %}
  				<img class="media-object" src="{{ gravatar(user.email) }}" width="150">
			{% else %}	
				<img class="media-object" src={{ asset('images/no_profile_pic') }} width="150">
			{% endif %}
			</a>
		</div>		
	</div>
</div>

{% endblock %}
