{%  extends "BDSSportBundle::layout.html.twig" %}

{% block title %}
	{{ domaine.nom }} mot du capitaine - {{ parent() }}
{% endblock %}

{% block bds_sport_body %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">mot du capitaine {{ domaine.nom }}</h3>
	</div>
	<div class="panel-body">
		{% if domaine.motCapitaine %}
			<p>{{ domaine.motCapitaine |  raw}}</p>
			<p><b>{{ domaine.capitaine.username }}</b></p>
			{# à sécuriser #}
			<a class="btn btn-lg btn-default" href="{{ path('bds_sport_motCapitaineEdit', {'nom': domaine.nom}) }}">editer le "mot du capitaine"</a>
		{% else %}
			<p> Le capitaine de {{ domaine.nom }} n'a rien publié pour vous, mais cela sera fait rapidement !!</p>
			<a class="btn btn-lg btn-default" href="{{ path('bds_sport_motCapitaineEdit', {'nom': domaine.nom}) }}">creer un "mot du capitaine"</a>
		{% endif %}
	</div>
</div>
{% endblock %}