{# src/EvenementBundle\Resources\Views\Form\lieu.html.twig #}
 
{% block lieu_virtuel_widget %}
<div id="{{ id }}_lieu_virtuel_widget"></div>
<div id="{{ id }}_input">{{ block('form_widget') }}</div>
<div id="{{ id }}_map" class="lieu_virtuel_map"></div>
 
<script type="text/javascript">
$(function() {
            var addresspickerMap = $("#{{ form.address.vars.id }}").addresspicker({
                regionBias: "fr",
                elements: {
                    map: "#{{ id }}_map",
                    locality: '#{{ form.locality.get("id") }}',
                    country:  '#{{ form.country.get("id") }}',
                    lat:      "#{{ form.lat.get("id") }}",
                    lng:      "#{{ form.lng.get("id") }}"
                }
            });
            var gmarker = addresspickerMap.addresspicker("marker");
            gmarker.setVisible(true);
            addresspickerMap.addresspicker("updatePosition");
    });
</script>
{% endblock %}